
/* LOGIN */
.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.form-label-group > input, .form-label-group > label {
    height: 3.125rem;
    padding: .75rem;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.input-group.login-ey {
    position: relative;
    left: 88.9%;
    top: -50px;
    height: 50px;
 
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.recupera {
    text-align:center
}

.recupera-pass {
    margin: 0 auto;
    padding: 10px;
}

.recupera-pass input {
    margin: 10px
}

.logo-pass {
    margin-top: 5%
}
/* FIN LOGIN */
/* NAV BAR */
nav.navbar {
    background-color: #5abfc9;
    color: #fff
}

.btn-warning:not(:disabled):not(.disabled):active, .show > .btn-warning.dropdown-toggle {
    background-color: #003a60;
    border-color: #5abfc9;
}

button:focus {
     outline: 0px; 
}

#BtnCerrarSesion {
    background: transparent;
    border: 0px;
    color: #fff;
    cursor:pointer
    
}

a:hover {
    color: #009ea4;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #009ea4;
}
/* FIN NAV BAR */
/* CONTENEDOR */
.container {
    margin: 20px auto;
}
.intro-container {
    padding-top: 5%;
    text-align: center;
}
.container .t-mod {
    margin-bottom: 20px;
}

.card-header.bg-dark {
    background-color: #009ea4 !important;
}
.card-header.bg-dark h4 {
    display:inline-block
}
.table-responsive.texttable {
    font-size: .85rem;
    overflow: auto;
    width: 100%;
}

#frmAltaTramite {
    display: inline-block;
    float: right
}
.rg-nuevo {
     margin: 20px 0 20px 0;
    
}

/* FIN CONTENEDOR*/

/* ALERTAS */
.alert {
    display: none;
}
.alertw {
    display: none;
    padding: 10px;
}

/* FIN ALERTAS */

/* BOTONES */
.btn-danger {
    background-color: #5abfc9;
    border-color: #5abfc9;
}
.btn-danger:hover {
    background-color: #007d88;
    border-color: #5abfc9;
}
.btn-danger.focus, .btn-danger:focus {
    background-color: #5abfc9;
    border-color: #5abfc9;
    box-shadow: 0 0 0 0.2rem #5abfc9;
}
.btn-outline-danger:not(:disabled):not(.disabled):active {
    background-color: #006edd;
    border-color: #006edd;
}
.btn-outline-danger:hover {
    background-color: #009ea4;
    border-color: #009ea4;
}
.btn-outline-danger.focus, .btn-outline-danger:focus {
    box-shadow: 0 0 0 0.2rem #5abfc9;
}
.btn-danger:not(:disabled):not(.disabled):active {
    background-color: #5abfc9;
    border-color: #006edd;
}
.btn-danger:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem #5abfc9;
}

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child), .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group-append .btn, .input-group-prepend .btn {
    position: relative;
    z-index: 2;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.btn-outline-danger {
    border-color: #5abfc9;
    color: #009ea4;
}
.btn-outline-danger:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem #5abfc9;
}
/* FIN BOTONES*/


/* Acordeon */
.accordion {
    width: 100%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.accordion .card-header.text-white.bg-dark {
    background-color: #d3d3d3 !important;
    margin-bottom: 3px;
}


.accordion .card-header.text-white.bg-dark .btn.btn-dark {
    background-color: transparent;
    border-color: #d3d3d3;
    color: #495057;
    font-weight: bold;
}

.accordion .card-header.text-white.bg-dark {
    background-color: #d3d3d3 !important;
    margin-bottom: 3px;
}
/* fin acordeon */

/* ESTILOS LISTADOS */
.fas.fa-toggle-on {
    font-size: 1.2rem;
}
.text-success-off {
    color: #cecece;
}

.aviso-rojo {
    color: forestgreen
}

.fondoceldaDetalle {
    background-color: #e6f6ff
}

.btnPedido {
    padding: 3px;
    background-color: #d3d3d3;
    cursor: pointer;
    border-radius: 3px
}

/* FIN ESTILOS LISTADOS */

/* ESTILOS FORMULARIO TRAMITES */
.btn-alinea-btn {
    padding-top:14%;
    
}

.btn-filtros {
    padding-top: 10%;
    padding-left:0
}


.btn-filtrosTra {
    padding-top: 1%;
    padding-left: 0;
    text-align:center
}

.alignright {
    text-align: right;
    font-size: 1.4rem
}

/* FIN ESTILOS FORMULARIO TRAMITES */

.moniResol {
    width: 96%;
    margin: 0 auto;
    padding-top: 3%;
}

.contenedorini {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 3%;
}

.filtros {
    vertical-align: middle;
    display: inline-block
}

.ms-choice {
    width: 100%;
    border: 0px !important
}
.ms-parent {
    width: 100% !important
}

#example_filter {
    font-size: 20px;
    font-weight: bold
}

#example_filter input {
    width: 400px;
    border: 1px solid #c0c0c0;
    height: 35px;
    font-size: 16px;
    padding-left:10px
}

.grp-filtro {
    padding-top: 3%
}

.disab {
    background-color: #e9ecef
}

.card.bg-light {
    width: 100%;
    margin: 0 auto;
}

.card.bg-lightTra {
    width: 100%;
    margin: 0 auto;
}
/* estilos exportar */
.btnExp {
    display: inline-block
}

#MainContent_btnExport {
    background-image: url(../img/ico_export.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 10px;
    background-size: 20px 24px;
    width: 140px;
    border: 1px solid #009ea4;
    background-color: #fff;
    padding: 4px;
    border-radius: 5px;
    vertical-align: middle;
}

/* fin estilos exportar */

/* estilos semaforo */

.circrojo {
    color: #ed0000
}
.circama {
    color: #edd400
}
.cirver {
    color: #18cb06
}

.reloj {
    font-size: 1.6rem
}

.semaf {
    text-align:center
}
/* fin estilos semaforo */


/* ESTILOS RECUPERA CONTRASEÑA */
.Short {
    width: 100%;
    background-color: #dc3545;
    margin-top: 5px;
    height: 3px;
    color: #dc3545;
    font-weight: 500;
    font-size: 12px;
}

.Weak {
    width: 100%;
    background-color: #ff9a00;
    margin-top: 5px;
    height: 3px;
    color: #ff9a00;
    font-weight: 500;
    font-size: 12px;
}

.Good {
    width: 100%;
    background-color: #ffc107;
    margin-top: 5px;
    height: 3px;
    color: #ffc107;
    font-weight: 500;
    font-size: 12px;
}

.Strong {
    width: 100%;
    background-color: #3a7d34;
    margin-top: 5px;
    height: 3px;
    color: #3a7d34;
    font-weight: 500;
    font-size: 12px;
}

#pswd_info h4 {
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: normal;
}

#pswd_info::before {
    content: "\25B2";
    position: absolute;
    top: -12px;
    left: 45%;
    font-size: 14px;
    line-height: 14px;
    color: #ddd;
    text-shadow: none;
    display: block;
}

.invalid {
    padding-left: 2px;
    line-height: 28px;
    color: #ec3f41;
}

.valid {
    padding-left: 2px;
    line-height: 28px;
    color: #3a7d34;
}

#camposcambiapass {
    width: 70%;
    margin: 0 auto;
}

.btn-cambioclave {
    margin: 0 auto;
    display: block;
}
/* FIN ESTILOS RECUPERA CONTRASEÑA */

/**/
.contenedordetalle {
    margin-left:10px;
    margin-right:0px;
    font-size: 0.7vw;
    overflow: hidden
}

.espacios {
    padding-left: 0px
}

.sinespacios {
    padding-left: 0px;
    padding-right: 0px
}
.mss {
    width: 2%
}

.msm {
    width:6%
}

.msd {
    width: 8%
}

.msg {
    width: 10%
}

.icos {
    font-size:0.7vw
}

.separa {
    border-bottom: 1px solid #d3d3d3
}